header {
	position: relative;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("../img/mountain.png");
	background-position: top center;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.about-content {
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

#about {
  border-top: 4px solid #75cefc;
	background-color: #222;
}

#skills {
	background-color: #444;
}

#contact { 
	background-color: white; 
	color: black;
}
.container-fluid {
	/*box-sizing: border-box;*/
  background-color: #222;
	height: auto;
	text-align: center;
	align-content: center;
	padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
	/*margin: 0px !important;*/
	/*height: 40px;*/
	background-color: rgb(255,255,255,0.25);
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.nav-item {
	font-size: 20px;
	text-transform: uppercase;
}

header .header-content {
	/* Change max-width as required*/
	max-width: 700px;
  width: 50%;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
	font-family: Arial;
	font-size: 1.2rem;
	text-align: justify;
	text-align-last: center;
}

h1 {
	font-size: 3.5rem;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.fixed-top .nav-link {
	color: white !important;
}

.fixed-top .navbar-brand {
	color: white !important;
}

.scrolled {
  background-color: #fff !important;
  transition: color 300ms linear;
  transition: background-color 300ms linear;
}

.scrolled .nav-link {
	color: black !important;
}

.scrolled .navbar-brand {
	color: black !important;
}

.fixed-top{
	transition: color 300ms linear;
 	transition: background-color 300ms linear; 
}